
*{
    margin:0px;
    padding: 0px;
}

#netBackground
{
    width:100vw;
    height:100vh;
    overflow: hidden;
    box-sizing: border-box;
}

#content{
    position: fixed;
    width:100vw;
    height:100vh;
    overflow: hidden;
    box-sizing: border-box;
    top:0px;
    left:0px;
}

.logo{
    margin-top:200px;
    margin:auto;
    width:100px;
}

.subtext{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 20px;
    font-weight: 800;
}

.subtext2{
    margin-top:15px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 7px;
}

.f-text{
    text-transform: uppercase;
    font-size: 60px;
    margin: 20px;
    letter-spacing: 10px;
    margin-bottom: 50px;
    font-family: 'Girassol', sans-serif;

}

#countdown {
    margin: 2vh auto 4vh;
    margin-top:10px;
    top: 50%;
    left: 0;
    right: 0;
    height: 100px;
    width: 50%;
  }
  
  #countdown.show {
    display: block;
  }
  
  #countdown > div {
    position: relative;
    float: left;
    width: 25%;
    font-size: 4vw;
    font-weight: 100;
    line-height: .8em;
    letter-spacing: 2px;
    text-align: center;
    color: #ccc;
    font-family: 'Baloo Bhaijaan',serif;
  }
  
  #countdown > div > span {
    display: block;
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 1.2em;
    letter-spacing: 0;
    margin-top: 20px;
    color: #777;
    text-transform: lowercase
  }
  
  @media (max-width:480px) {

    body{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    }

    #content{
        margin-top: 200px;
    }

    .subtext{
        font-size:8px;
    }

    .subtext2{
        font-size: 5px;
    }


    #countdown {
        width: 100%;
    }
    #countdown > div {
        width: 25%;
        font-size: 30px;
        font-weight: 700;
        line-height: .8em;
        letter-spacing: 2px;
    }
    #countdown > div > span {
    font-size: 11px;
    }
}


.fallback{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.join-team{
    padding-top:15px;
    padding-bottom: 15px;
    width:20%;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.join-team:hover{
    color:white;
    background-color: black;
}



@keyframes heartBeat {
    0% {
      transform: scale(1);
    }
  
    14% {
      transform: scale(1.1);
    }
  
    28% {
      transform: scale(1);
    }
  
    42% {
      transform: scale(1.1);
    }
  
    70% {
      transform: scale(1);
    }
  }
  
  .heartBeat {
    animation-name: heartBeat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }